@{
    ViewBag.Title = "تائیدیه";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
<div class="mb-20">
    <h3>تائیدیه</h3>
    <div class="text-muted font-weight-bold">برای بروز رسانی رمز عبور ایمیل خود را وارد کنید</div>
</div>
