@{
    ViewBag.Title = "تائیدیه";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
<div class="mb-20">
    <h3>رمز عبور شما با موفقیت بروز رسانی شد!</h3>
</div>
<div class="form-group d-flex flex-wrap flex-center mt-10">
    <a href="/Account/Login" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">ورود به پنل ادمین</a>
</div>
