

@ViewBag.Message

@using (Html.BeginForm())
{

<h2> Enter Controller name</h2>
<input type="text" name="controllerName" value="" />
    <input type="submit"  value="Add Actions" class="btn btn-primary"/>

}