<header id="site-header">
    <div id="site-header-inner" class="container">
        <div class="wrap-inner clearfix">
            <div id="site-logo" class="clearfix">
                <div id="site-log-inner">
                    <a href="index.html" rel="home" class="main-logo">
                        <img src="/Content/client/assets/img/logo-white-small.png" alt="Faradid Kerman" width="169" height="39" data-retina="assets/img/logo-white-small@2x.png" data-width="169" data-height="39">
                    </a>
                </div>
            </div><!-- /#site-logo -->

            <div class="mobile-button">
                <span></span>
            </div><!-- /.mobile-button -->

            <nav id="main-nav" class="main-nav">
                <ul id="menu-primary-menu" class="menu">
                    <li class="menu-item menu-item-has-children">
                        <a href="/">صفحه اصلی</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="page-about.html">درباره ما </a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="page-about.html">درباره ما</a></li>
                            <li class="menu-item"><a href="page-about-detail.html">جزئیات درباره</a></li>
                            <li class="menu-item"><a href="page-about-team.html">درباره تیم</a></li>
                            <li class="menu-item"><a href="page-about-careers.html">درباره کارگزاران</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="page-projects.html">پروژه ها</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="page-projects.html">پروژه</a></li>
                            <li class="menu-item"><a href="page-projects-full.html">پروژه عرض کامل</a></li>
                            <li class="menu-item"><a href="page-project-detail.html">جزئیات پروژه</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="page-testimonial.html">صفحات</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="page-testimonial.html">صفحه گواهی نامه</a></li>
                            <li class="menu-item"><a href="page-pricing.html">صفحه جدول قیمت</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="page-blog.html">بلاگ</a>
                        <ul class="sub-menu right-sub-menu">
                            <li class="menu-item"><a href="page-blog.html">بلاگ</a></li>
                            <li class="menu-item"><a href="page-blog-single.html">بلاگ تک نوشته</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/AboutFaradid/34/تاریخچه">تاریخچه</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/AboutFaradid/33/چشم-انداز">چشم انداز</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/Projects">پروژه ها</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/ContactUs">تماس با ما</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/AboutUs">درباره ما</a>
                    </li>
                </ul>
            </nav><!-- /#main-nav -->


        </div><!-- /.wrap-inner -->
    </div><!-- /#site-header-inner -->
</header><!-- /#site-header -->
