<div class="row-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="61" data-mobile="60" data-smobile="60"></div>
                <div class="themesflat-headings style-1 text-center clearfix">
                    <h2 class="heading">پیام شما با موفقیت ثبت شد</h2>
                    <div class="sep has-icon width-125 clearfix">
                        <div class="sep-icon">
                            <span class="sep-icon-before sep-center sep-solid"></span>
                            <span class="icon-wrap"><i class="autora-icon-build"></i></span>
                            <span class="sep-icon-after sep-center sep-solid"></span>
                        </div>
                    </div>
                    @*<p class="sub-heading font-weight-400 max-width-770 line-height-26 margin-top-14">پیام شما با موفقیت ثبت شد.</p>*@
                    <span class="class more-link"><a href="/">بازگشت به صفحه اصلی</a></span>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="45" data-mobile="35" data-smobile="35"></div>
            </div><!-- /.col-md-12 -->
        </div>
    </div>
</div>
