@using Kendo.Mvc.UI
@model List<Road.Web.ViewModels.UserRolesViewModel>
@{
    ViewBag.Title = "کاربران ";
    List<TreeViewItemModel> treeItems = ViewBag.TreeItems as List<TreeViewItemModel>;
}
<input type="hidden" id="nav_active" value="auth_control">
<input type="hidden" id="nav_item_active" value="users">
<div class="col-lg-6">
    <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">
                نام کاربری : @ViewBag.UserName
            </h3>
        </div>
        @using (Html.BeginForm())
        {

            <div class="col-md-4">
                @Html.Kendo().TreeView().Name("Roles").BindTo(treeItems).Checkboxes(checkboxes => checkboxes.Name("selectedRoles")).HtmlAttributes(new { style = "min-height:100px; " })
            </div>
            <br />
            <div class="card-footer">
                <input type="hidden" name="userId" id="userId" value="@ViewBag.UserID" />
                <a href="@Url.Action("Index")">انصراف</a> |
                <input type="submit" value="ذخیره تغییرات" class="btn btn-primary" />
            </div>
        }
    </div>
</div>